@import "tailwindcss";

@theme {
  --color-poseidon: #08202A;
  --color-norse: #518EAB;
  --color-pumpkin: #C83818;
  --color-paper: #E8DED2;

  --font-anton: "Anton", sans-serif;
  --font-heading: "Anton", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: var(--color-poseidon);
    color: var(--color-paper);
    font-family: var(--font-mono);
  }

  body {
    background-color: var(--color-poseidon);
    color: var(--color-paper);
    font-family: var(--font-mono);
    min-height: 100vh;
    overflow-x: hidden;
  }

  ::selection {
    background-color: var(--color-pumpkin);
    color: var(--color-paper);
  }
}

